body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dashboard-card {
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-meta-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.card-meta-description {
    font-size: 14px;
    color: #666;
}

.row-margin-top {
    margin-top: 20px;
}


/* App.css */
.layout {
    background: #f0f2f5;
    min-height: 100vh;
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #001529;
}

.logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
}

.site-layout-content {
    padding: 24px;
    background: #fff;
    min-height: 380px;
}

.card {
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    min-width: 800px;
    text-align: center;
    font-size: xx-large;
}

.testimonial-card {
    background: #f6f8fa;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.footer-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.ant-row {
    margin-bottom: 20px;
}

.ant-col {
    display: flex;
    justify-content: center;
    align-items: center;
}